transforms3d
pybullet
plotly
trimesh[easy]
pyaml
pandas
numba
scipy
sqlalchemy
opencv-python-headless
--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchvision
torchopt
ffcv
pytorch-lightning
-e .
